@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');


*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

html{
    scroll-behavior: smooth;
}

/*navbar styling*/
.navbar{

    position:  fixed;
    width: 100%;
    padding: 30px 0; 
    z-index: 999;
    font-family: 'Ubuntu',sans-serif;
    transition: all 0.3s ease;

}

.navbar.sticky{
    padding:15px 0;
    background: #9900CC ; 
}
.navbar .logo a{
    color: #fff;
    font-size: 35px;
    font-weight: 600;
    
   
}
.navbar .logo a span{
    color: 
    #9900CC;
    transition: all 0.3s ease;
    

}

.navbar.sticky .logo a span{
    color: #fff;
  
}

.max-width{
    max-width: 1300px;
    padding: 0 80px;
    margin: auto;

}
.navbar .max-width{

    display: flex;
    align-items: center;
    justify-content: space-between;

}
.navbar .menu li {
    list-style: none;
    display: inline-block;

}


.navbar .menu li a{
    display: block;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    margin-left: 25px;
    transition: color 0.5s ease;
}
.navbar .menu li a:hover{
    color:#9900CC;
}
.navbar.sticky .menu li a:hover{
    color: #fff;
}

/* menu btn styling */
.menu-btn{
    color: #fff;
    font-size: 23px;
    cursor: pointer;
    display: none;
}




.home{
    display:flex;
    background: url("image/background.png") no-repeat center;
    height: 100vh;
    color: #fff;
    min-height: 500px;
    font-family: 'Ubuntu',sans-serif;

}
.home .max-width{
    margin: auto 0 auto 40px;
}
.home .home-content .text-1{
    font-size: 27px ;
}
.bubboles img{
   width: 50px;
   animation: bubble 7s linear infinite;
}
.bubboles{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: absolute;
    bottom: 0;
    bottom: 0px;

}
@keyframes bubble{
    0%{
        transform: translateY(0);
        opacity: 0;
    }

    50%{
       
        opacity: 1;
    }
    70%{
      
        opacity: 1;
    }
    100%{
        transform: translateY(-80vh);
        opacity: 0;
    }
}
.bubboles img:nth-child(1){
   animation-delay: 2s;
   width: 35px;
}

.bubboles img:nth-child(2){
    animation-delay: 1s;
    width: 20px;
 }
 
 .bubboles img:nth-child(3){
    animation-delay: 3s;
 }

 .bubboles img:nth-child(4){
    animation-delay: 4.5s;
    width: 25px;
 }
 .bubboles img:nth-child(5){
    animation-delay: 3s;
 }

 .bubboles img:nth-child(6){
    animation-delay: 6s;
    width: 35px;
 }

 
 .bubboles img:nth-child(7){
    animation-delay: 7s;
    width: 30px;
 }
 
 
 
.home .home-content a{
    display: inline-block;
    background: 
    #9900CC;
    color: #fff;
    font-size: 25px;
    padding: 12px 36px;
    margin-top:20px;
    border-radius: 6px;
    border:2px solid 
    #9900cc;
    transition: all 0.3s ease;
    margin-top: 70px;


}
.home .home-content a:hover{
    color: 
    white;
    background: none;
}



.home .home-content .text-2{
    font-size: 75px ;
    font-weight: 600;
    margin-left: -3px;
}

.home .home-content .text-3{
    font-size: 40px;
    margin: 5px 0;
}

.home .home-content .text-3 span{
    color: 
    #9900CC;
    font-weight: 700px;

}



/* all similar content styling code */
section{
    padding: 100px 0;
}

.about, .services, .skills, .teams, .contact, footer{
    font-family: 'Poppins',sans-serif;
}

.about .about-content, .services .serv-content,
 .skills .skills-content, .contact, .contact-content
{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

section .title{
    position: relative;
    text-align: center;
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 60px;
    padding-bottom: 20px;
    font-family: 'Ubuntu',sans-serif;
}

section .title::before{
    content: "";
    position: absolute;
    bottom: 0px;
    left: 50%;
    width: 180px;
    height: 3px;
    background: #111;
    transform: translateX(-50%);
}

section .title::after{
   
    position: absolute;
    left: 50%;
    font-size: 20px;
    color: 
    #9900CC;
    bottom: -12px;
    left: 50%;
    padding: 5px;
    background: #fff;
    transform: translateX(-50%);
}
/* 
scroll bloge side */
.trending-img{
    position: relative; 
    margin-bottom: 15px;

}
.trending-img .img{
    width: 100%;   
}


/* about section styling */

.about .title::after{
    content: "who i am";
}


.about .about-content .left {
      width: 45%;

}
.about .about-content .left img{
    height: 400px;
    width: 400px;
    object-fit: cover;
    border-radius: 6px;
    box-shadow: -5px 10px 20px;
}

.about .about-content .right {
    width: 55%;

}
.about .about-content .right .text{
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 10px;

}

.about .about-content .right .text span{
    color:
    #9900CC;
}

.about .about-content .right p{
    text-align: justify;
}

.about .about-content .right a{
    display: inline-block;
    background: 
    #9900CC;
    color: #fff;
    font-size: 20px;
    font-weight: 500px;
    padding: 12px 36px;
    margin-top:20px;
    border-radius: 6px;
    
    border:2px solid 
    #9900CC;
    transition: all 0.3s ease;
}
.about .about-content .right a:hover{
    color: 
    #9900CC;
    background: none;
    
}







/* services section styling */

.services .title::after,
.teams .title::after{
    background:#111;
    content:"what i provide" ;
  
}
.services .title::before,
.teams .title::before {  
    background: white;
}

.services, .teams {
    color: #fff;
    background: black;
}
.services .serv-content .card{
    width: calc(33% - 20px);
    background: #222;
    text-align: center;
    border-radius: 6px;
    padding: 20px 25px;
    cursor: pointer;
    transition: all 0.3s ease;
    margin-bottom: 20px;

}

.services .serv-content .card i{
    font-size: 50px;
    color:
    #9900CC;
    transition: color 0.3s ease;


}
.services .serv-content .card:hover i{
    color: white;
}

.services .serv-content .card .text{
    font-size: 25px;
    font-weight: 500;
    margin: 10px 0 7px 0;

}

.services .serv-content .card .box{
    transition: all 0.3s ease;

}
.services .serv-content .card:hover{
    background: 
    #9900CC;
}
.services .serv-content .card:hover .box{
    transform: scale(1.05);
}

/* skills section style here */
.skills .title::after{
    content: "what i know";

}

.skills .skills-content .column{
     width: calc(50% - 30px);
    
    
}

.skills .skills-content .left .text{
   font-size: 20px;
   font-weight: 600;
   margin-bottom: 10px ;
}

.skills .skills-content .left p{
    text-align: justify;
}

.skills .skills-content .left a{
  
    display: inline-block;
    background: 
    #9900CC;
    color: #fff;
    font-size: 18px;
    font-weight: 500px;
    padding: 8px 16px;
    margin-top:20px;
    border-radius: 6px;    
    border:2px solid 
    #9900CC;
    transition: all 0.3s ease;
}

.skills .skills-content .left a:hover{
    color: #9900CC;
    background: none;
}
.skills-bar{
    width: 600px;
    background: #fff;
    border-radius: 10px;
    padding: 25px 30px;
    padding-left: 80px;
    margin-top: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
}
.skills-bar .bar{
   margin: 20px 0;
}

.skills-bar .bar:first-child{
       margin-top: 0px;
}

.skills-bar .bar .info span{
   font-size: 17px;
   font-weight:500; 
  


}
.skills-bar .bar .progress-line{
    position: relative;
    height: 10px;
    width: 100%;
    background: #f0f0f0;
    transform: scaleX(0);
    transform-origin: left;
    box-shadow: inset 0px 1px 1px rgba(0,0,0,0.05),
                      0px 1px rgba(255,255,255,0.8);
    animation: animate 1s cubic-bezier(1,0,0.5,1) forwards;
    

}
@keyframes animate {
  100%{
    transform: scaleX(1); 
  }  
}


.bar .progress-line span{
    height: 100%;
    width: 80%;
    background: #9900CC;
    position: absolute;
    border-radius: 10px;
    transform: scaleX(0);
    transform-origin: left;
    animation: animate 1s 1s  cubic-bezier(1,0,0.5,1) forwards;
}

.progress-line.css span{
   width: 85%;
}

.progress-line.html span{
    width: 90%;
 }
 .progress-line.python span{
    width: 95%;
 }
 .progress-line.js span{
    width: 70%;
 }
 .progress-line.c span{
    width: 60%;
 }
 .progress-line.jquery span{
    width: 50%;
 }

.bar .progress-line span::before{
    position: absolute;
     content: "";
    right: 0;
    top: -10px;
    height: 0;
    width: 0;
    border: 7px solid transparent;
    border-bottom-width: 0px;
    border-right-width: 0px;
    border-top-color: #000;
    opacity: 0;
    animation: showText2 0.5s 1.5s linear forwards;


}
.bar .progress-line span::after{
    position: absolute;
    
    right: 0;
    top: -28px; 
    font-weight: 500;
    background: #000;
    color: #fff;
    font-size: 12px;
    padding: 1px 8px ;
    border-radius: 3px;
    animation: showText2 0.5s 1.5s linear forwards;;

}
@keyframes showText2 {
    100%{
        opacity: 1;
    }
}
.progress-line.html span::after{
    content: "90%";
}

.progress-line.css span::after{
    content: "85%";
}

.progress-line.python span::after{
    content: "95%";
}

.progress-line.js span::after{
    content: "70%";
}

.progress-line.jquery span::after{
    content: "50%";
}

.progress-line.c span::after{
    content: "60%";
}






/* teams section style */
.teams .title::after{
    content: "TEAM-RB";
}

.teams .carousel .card{
    background: #222;
    border-radius: 6px;
    padding: 25px 35px;
    text-align: center;
    transition: all 0.3s ease;
}
.teams .carousel .card .box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
}

.teams .carousel .card .text{
    font-size: 25px;
    font-weight: 500;
    margin: 10px 0 7px 0;

}

.teams .carousel .card:hover{
    background:  #9900CC;
    transform: scale(1.05);
   
}

.teams .carousel .card:hover{   
    transform: scale(1.05);
}

.teams .carousel .card:hover img{
    border-color: #fff;
}

.teams .carousel .card img{
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 50%;
    border: 5px solid #9900CC;
    transition: all 0.3 ease;
}

.teams .carousel .card:hover box{
    transform: scale(1.05);
  
    
 } 
.teams .carousel .card:hover{
    transform: scale(1.05);
}

.owl-dots{
    text-align: center;
    margin-top: 20px;
}
.owl-dot{
     height: 13px;
     width: 13px;
     margin: 0 5px;
     outline: none!important;
     border-radius:  50%;
     border: 2px solid #9900CC!important;
     transition: all 0.3s ease;
}


.owl-dot:hover{
  width: 35px;
  border-radius: 14px;
 

}
.owl-dot.active,
.owl-dot:hover{
    background: #9900CC!important;
}
/* 
contact part style */
.contact .title::after{
    content:"get in touch";
}
.contact .contact-content .column{
    width: calc(50% - 30px);
}
.contact .contact-content .text{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
}
.contact .contact-content .left p{
     text-align: justify;
}
.contact .contact-content .left .icons{
   margin: 10px 0; 

} 

.contact .contact-content .row{
    display: flex;
    height: 65px;
    align-items: center;

}

.contact .contact-content .row .info{
    margin-left: 30px;
}

.contact .contact-content .row i{
    font-size: 25px;
    color: #9900CC;
    transition: all 0.3s ease;
}
.contact .contact-content .row i:hover{
       transform: scale(1.50);

}

.contact .contact-content .info .head{
   font-weight: 500; 
}

.contact .contact-content .info .sub-title{
    color: #333;
 }
.contact .right form .fields{
      display: flex; 
}

.contact .right form .field,
.contact .right form .fields .field{
    height: 45px;
    width: 100%;
    margin-bottom: 15px;
}
.contact .right form .textarea{
    height: 80px;
    width: 100%;

}

.contact .right form .name{
    margin-right: 10px;
}


.contact .right form .email{
    margin-left: 10px;
}

.contact .right form .field input,
.contact .right form .textarea textarea{
    height: 100%;
    width: 100%;
    border: 1px solid #9900CC;
    border-radius: 6px;
    outline: none;
    padding: 0 15px;
    font-size:  17px;
    font-family: "Poppins" ,sans-serif;
}
.contact .right form .button{
      height: 47px;
      width: 170px;
}
.contact .right form .button button{
   width: 100%; 
   height: 100%;  
   border: 2px solid #9900CC; 
   background: #9900CC;
   color: #fff;  
   font-size: 20px;
   font-weight: 500;
   border-radius: 6px;
   cursor: pointer;
   transition: all 0.3s ease;

}
.contact .right form .button button:hover{
    color: #9900CC;
    background: none;
}

.contact .right form .textarea textarea{
    padding-top: 10px;
    resize: none;
}
/* footer section start */
footer{
    background: #111 ;
    padding: 20px 23px;
    color: #fff;
    text-align: center;
}
footer span a{
    color: #9900CC;
    text-decoration: none;
}

footer span a:hover{
    text-decoration: underline;
}
/* responsive media query */

@media(max-width: 1330px){

    .home .max-width{
        margin-left: 0px;
    }

@media(max-width: 1104px){

    .about .about-content .left img{
        height: 350px;
        width: 350px;
        
    }

    
}

@media(max-width: 991px){
    .max-width{
        padding: 0 50px;
    }

   
}

@media(max-width: 947px){

      .max-width{
          padding: 0 50px;
      }

      .menu-btn{     
        display: block;
        z-index: 999;
        }

        .menu-btn i.active:before{
            content: "\f00d";

        }

      .navbar .menu {
          position: fixed;
          height: 100vh;
          width: 100%;
          left: -100%;
          top: 0;
          background: #111;
          text-align: center;
          padding-top: 80px;
          transition: all 0.5s ease;

      }

      .navbar .menu.active{
        left: 0;

      }
      .navbar .menu li{
          display: block;

      }
      .navbar .menu li a{
          display: inline-block;
          margin: 20px 0;
          font-size: 25px;
          
      } 

      .home .home-content .text-2{
        font-size: 70px ;
        
        
    }
    
    .home .home-content .text-3{
        font-size: 35px;
        
    }

    .home .home-content a{
        font-size: 23px;
        padding: 10px 30px;
    }

    .about .about-content .column{
              width: 100%;
    }

    .about .about-content .left{
        display: flex;
        justify-content: center;
        margin: 0 auto 60px;
       }
    .skills .skills-content .right{
            padding: 0;
       }

    .max-width{
        max-width: 800px;       
    
    }

    .about .about-content .right{
        flex: 100%;
    }
    .about .about-content .right a{
        font-size: 15px;
        margin-top: px;
    }

    .services .serv-content .card{
       width: calc(50% - 10px);
       margin-bottom: 20px; 
    }
 
    .skills .skills-content .column,
    .contact .contact-content .column{
        width: 100%;
        margin-bottom: 35px; 
}
.skills-bar{
    padding: 0px;
    margin-top: 30px;
}

    
}


@media(max-width: 690px){

    .max-width{
        padding: 0 23px;
    }


    .home .home-content .text-2{
        font-size: 60px ;
        
        
    }
    
    .home .home-content .text-3{
        font-size: 32px;
        
    }

    .home .home-content a{
        font-size: 20px;
        padding: 9px 25px;
    }

    .services .serv-content .card
        {
        width: 100%;
        margin-bottom: 20px;
     }

     .skills .skills-content .column{
              width: 100%;
     }

     .about .about-content .right a{
        padding-left: 30px;
     }

}
}
